<img class="w-full lg:w-1/2 mb-8 lg:mb-0 rounded-lg object-cover" src="assets/about.jpg" alt=""/>

<div class="w-full lg:w-1/2">
    <h2 class="text-6xl md:text-7xl font-bold mb-5 text-gray-600 text-center lg:text-left">About Us</h2>
    <p class="text-justify">Welcome to QuicKeys, your premier destination for hassle-free car rentals. At QuicKeys, we're
        passionate about providing exceptional service, unbeatable value, and a seamless rental experience to
        every customer. Founded with a dedication to customer satisfaction and a love for travel, QuicKeys is
       
        more than just a car rental company – we're your trusted travel partner. With a diverse fleet of well-
        maintained vehicles, multiple pick-up and drop-off locations nationwide, and easy online booking,
       
        renting a car with QuicKeys is convenient and hassle-free. We offer competitive pricing, personalized
        service, and a commitment to safety to ensure that your journey with us is nothing short of exceptional.
        Whether you're planning a weekend getaway, a family vacation, or a business trip, QuicKeys is here to
        help you make the most of every mile. Experience the difference with QuicKeys car rentals today!</p>
</div>