<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="#">
            <img src="assets/logo.svg" class="h-8 mb-3 mx-auto" alt="QuicKeys Logo" />
        </a>
        
        <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-400 sm:mb-0">
            <li>
                <a href="/reservation" class="hover:underline me-4 md:me-6">Reservation</a>
            </li>
            <li>
                <a href="/#about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="/#testimonials" class="hover:underline me-4 md:me-6">Testimonials</a>
            </li>
            <li>
                <a href="/#faqs" class="hover:underline me-4 md:me-6">FAQs</a>
            </li>
            <li>
                <a href="/#contact" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    
    <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
    <p class="block text-sm text-gray-400 text-center">© 2023 QuicKeys™. All Rights Reserved.</p>
</div>